<h2>Other Profiles</h2>
<ul class="sideBar">
    <% for (let i = 0; i < otherPeople.length; i++) { %>
        <li class="no-disc"><a href="<%= otherPeople[i].id%>"><%= otherPeople[i].name%></a></li>
    <% } %>
</ul>